main {
  position: absolute;
	top: 25%;
	left: calc(50% - 200px);
	display: flex;
	align-items: center;
}

img {
  height: 300px;
  width: 300px;
  margin: 10px 20px;
}

#carousel-slider {
  position: absolute;
  display: flex;
  transition: all 0.5s ease-in;
}

#carousel-frame {
  position: relative;
  width: 340px;
  height: 320px;
  border: 2px solid rgb(79, 79, 79);
  overflow: hidden;
}

.arrow {
	font-size: 2rem;
	padding: 5px;
}